@{
    Layout = "_Layout";
    ViewData["Title"] = "Upload Collection Summary";
}

@section Scripts
    {
    <script>
        $("#upload_cs").submit(function(e) {
            Loader("Data Uploading...");
        });        

        $("#id_logout").click(function(e) {
            Loader("Logging Out...");
        });

        function Loader(msg) {
            Swal.fire({
                title: 'Please Wait !',
                html: msg,
                allowOutsideClick: false,
                onBeforeOpen: () => {
                    Swal.showLoading()
                },
            });
        }

        function successAlert(msg) {
            Swal.fire({
                title: 'Success!!',
                text: "File Has Been Succesfully Uploaded.",
                type: 'succes',
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'OK!',
                allowOutsideClick: false
            });
        }

        function errorAlert() {
            Swal.fire({
                title: 'Error!',
                text: 'File Has Not Been Uploaded. Please Try Again.',
                type: 'error',
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'OK!',
                allowOutsideClick: false
            });
        }
    </script>
}


    @using (Html.BeginForm("UploadCollectionSummary", "CollectionSummary", FormMethod.Post, new { id = "upload_cs", enctype = "multipart/form-data" }))
{
    <div class="form-group files">
        <label>Upload Your File :</label>
        <input type="file" name="file" class="form-control">
    </div>
    <div class="row">
        <pre style="color: crimson;font-weight: 500;"><label>&nbsp;[Max File Size : 10 MB]</label></pre> <pre style="color: crimson;font-weight: 500;"><label>&nbsp;&nbsp;&nbsp;[Supported File Format : .xlsx]</label></pre>
    </div>
    <button type="submit" class="btn btn-info btn-md">Upload</button>
}

@if (ViewBag.successStatus == true)
{
    <br>

    @*<label style="color: teal;font-weight: 500;">Upload Successfull !!</label>*@
    @section Script {
    <script>
        successAlert();
    </script>
    }
}
@if (ViewBag.successStatus == false)
{
    <br>

    @*<label style="color: red;font-weight: 500;">Upload Unsuccessfull !!</label>*@
    @section Script {
    <script>
        errorAlert();
    </script>
    }
}






@*<div>
        <div class="container">
            <form method="post" asp-controller="CollectionSummary" asp-action="UploadCollectionSummary" data-loading-text="Loading.." enctype="multipart/form-data">
                <input type="file" name="file" />
                <button type="submit">Upload</button>
            </form>

        </div>
    </div>*@

